<ion-header>
  <ion-toolbar>
    <ion-title>pickup-location</ion-title>
  </ion-toolbar>
  <div id="back-arrow">
    <ion-item (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-item>
  </div>
</ion-header>

<ion-content>
  <ion-item (click)="locatePosition()">
    <ion-button>
      <ion-icon slot="start" name ="map"></ion-icon>
      Get position
    </ion-button>
  </ion-item>
  <div id="mapId" style="height: 200px;"></div>
  <ion-icon slot="start" name="locate"></ion-icon>
  <ion-label position="stacked">Adresse</ion-label>
  <ion-textarea type="text" style="margin:10px" [(ngModel)]="adress"></ion-textarea>
  <ion-button shape="round" expand="block" (click)="confirmPickUpLocation()">Confirmer votre adresse</ion-button>
</ion-content>
