<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bim & Boum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item (click)="goPickup()">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>get location</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </div>
</ion-content>
